/***

  Charity

***/

label.absolute {
  position: absolute;
  top: 26px;
  color: white !important;
  left: 50%;
  z-index: 9999;
  margin-left: -122px;
}

.overlayCharity1 {  
  background-image: url("https://s3-us-west-2.amazonaws.com/challengrimages/placeholder/onStreet.jpg");
  opacity: 0;
  transition: opacity .3s ease;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  padding: 2em;
}

.overlayCharity2 {  
  background-image: url("https://s3-us-west-2.amazonaws.com/challengrimages/placeholder/charity2.jpg");
  opacity: 0;
  transition: opacity .3s ease;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  padding: 2em;
}

#charityBG1 {
  background: black;
  width: 100%;
  height: 100vh;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  &:hover .overlayCharity1{
    opacity: 1;
  }
  &:hover {
    cursor: pointer !important;
    a {
      text-decoration: none;
    }
    label,
    p,
    a {
      text-shadow: 1px 1px 1px black;
    }
  }
  p {
    padding: 1em 0;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    font-size: 18px;
  }
}

#charityBG2 {
  background: black;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  &:hover .overlayCharity2{
    opacity: 1;
  }
  &:hover {
    cursor: pointer !important;
    a {
      text-decoration: none;
    }
    label,
    p,
    a {
      text-shadow: 1px 1px 1px black;
    }
  }
  p {
    padding: 1em 0;
    &:hover {
      text-decoration: none !important;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
    font-size: 18px;
  }
}

.charity {
  img {
    width: 100%;
    min-height: 100%;
  }
}

.grid-testimonials {
  display: flex;
  text-align: center;
  li {
    flex: 1;
    list-style-type: none;
    &:last-child {
      margin-right: 0;
    }
  }
  h1 {
    color: #7D8A9A;
    margin-top: 0px;
  }
  img {
    width: 25%;
    margin-left: -10px;
    min-height: 25%;
  }
  p {
    line-height: 1.5em;
    margin: 0;
    color: #7D8995;
    text-transform: initial;
    padding-bottom: $padding;
  }
  a {
    position: relative;
    z-index: 5;
    text-transform: initial;
  }
  .quote-arrow {
    background: #fff;
    // box-shadow: 2px 2px 0px #EAEEF1, 0px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 0px #EAEEF1;
    content: '';
    display: block;
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1;
  }
}

.btn-success {
  background-color: #66D3E2;
  border-color: #66D3E2;
  /* padding: 15px; */
}

.grid-testimonials-citation {
  color: #656262;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 2em;
  text-transform: uppercase;
  text-align: center
}

.grid-testimonials li div {
  border: 0px solid #ebebeb;
  padding: 15px;
  margin: 15px;
  position: relative;
  box-shadow: 0px 2px 0px #EAEEF1, 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 2px 0px #EAEEF1, 1px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

li.selectedCharity div,
li.selectedCharity img {
  min-height: 100%;
  transition: 0.3s;
  box-shadow: 0px 2px 0px #EAEEF1, 0px 2px 4px rgba(0, 0, 0, 1);
}

