div.friendToChallenge {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    display: inline;
    min-height: 20%;
  }
  div {
    display: inline-block;
    padding-left: $padding;
  }
}

#challengeDetailStep{
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}